<h1>About Me</h1>
<p>Hello!  Thank you for stopping to visit. My name is Maria, and I am an interior decorator in the greater Columbus/Dublin area.   Welcome to my website and blog.  I created this blog to share my decorating tips, fun finds, photos, and projects, along with my love for fashion, baking, gardening, and traveling!
</p>
<p>Although I am based out of the Columbus area, I also offer E-Design services and web consultation for those of you who are further away.  I feel that everyone should have a house that the moment you walk in, you feel home.  You should have a space that makes you feel happy and comfortable, and that you are proud to show to others!  Whether that be decorating a new home for the floors up, or helping to redecorate that one room that you would like to look extra special.
 </p>

<p>I have a passion for mixing the old with the new, and not only do I enjoy helping clients decide which new items to purchase, but I also love helping clients use their current furnishings in a bright new way!  
</p> 
<p>I provide many different services that are listed below to help you create your favorite spaces.  Please call or email me to set up an appointment! I look forward to chatting with you!
</p>