<h1>Services</h1>
<ul>
<li>Living Room/Family Room/Master Bedroom: $300 per room</li>

<li>Nursery/Guest Bedroom/Office: $100  per room</li>

<li>Kitchen: $300</li>

<li>Bathroom/Entryway/Foyer: $100 per room</li>

<li>Room Idea Board: $100</li>

<li>E-Design: $100 per room</li>
</ul>
All above prices are an average, prices may change for larger projects. This will all be discussed at our initial consultation.