<h1>Services</h1>
<ul>

<li>Room Idea Board: $100</li>

<li>E-Design: $200 per room</li>

<li>Living Room/Family Room/Master Bedroom: $400 per room</li>

<li>Nursery/Guest Bedroom/Office: $300 per room</li>

<li>Kitchen: $500</li>

<li>Bathroom/Entryway/Foyer: $200 per room</li>

</ul>
<p>
All above prices are an average, prices may change for larger projects. This will all be discussed at our initial consultation.
</p>